@font-face {
    font-family: "proxima-nova";
    font-weight: bold;
    src: url("assets/fonts/proxima-nova/proxima-nova.otf") format("opentype"),
        url("assets/fonts/proxima-nova/proxima-nova.ttf") format('truetype');
}

@font-face {
    font-family: "proxima-nova-bold";
    font-weight: bold;
    src: url("assets/fonts/proxima-nova/proxima-nova-bold.otf") format("opentype");
}
