@mixin font-proxima-nova-regular() {
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: normal;
}

@mixin font-proxima-nova-black() {
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: bold;
}

@mixin font-proxima-nova-bold() {
    font-family: 'proxima-nova-bold';
    font-style: normal;
    font-weight: bold;
}

@mixin font-proxima-nova-extra-bold() {
    font-family: 'ButlerExtBd';
    font-style: normal;
    font-weight: normal;
}

@mixin font-proxima-nova-light() {
    font-family: 'Butler';
    font-style: normal;
    font-weight: bold;
}

@mixin font-proxima-nova-ultra-light() {
    font-family: 'Butler';
    font-style: normal;
    font-weight: normal;
}

@mixin font-proxima-nova-medium() {
    font-family: 'ButlerMed';
    font-style: normal;
    font-weight: normal;
}


