<div class="app-content scroller">
    <app-column stream="medium" headerTitle="Medium" headerIcon="fa fa-medium" headerUsername="@ark.io" headerLink="https://blog.ark.io/" reference="1564897151465"></app-column>
    <app-column stream="reddit" headerTitle="Reddit" headerIcon="fa fa-reddit" headerUsername="/r/ArkEcosystem" headerLink="https://www.reddit.com/r/ArkEcosystem/" reference="15648971514658"></app-column>
    <app-column stream="steemit" headerTitle="Steemit" headerIcon="fa fa-steemit" headerUsername="#ark" headerLink="https://steemit.com/trending/ark" reference="15648971514651"></app-column>
    <app-column stream="thearkcryptopodcast" headerTitle="The ARK Crypto Podcast" headerIcon="fa fa-microphone" headerUsername="" headerLink="https://thearkcryptopodcast.com/" reference="1564897151489"></app-column>
    <!--<app-column stream="twitter" headerTitle="Twitter" headerIcon="fa fa-twitter" headerUsername="@ArkEcosystem" headerLink="https://twitter.com/arkecosystem"></app-column>-->
    <app-column bridgechain="nOS" bridgechainUrl="https://nos.io/" bridgechainLogo="./assets/img/nOS/icon256x256.png" stream="medium" headerTitle="Medium" headerIcon="fa fa-medium" headerUsername="@nos-io" headerLink="https://medium.com/nos-io/" reference="15648971514652"></app-column>
</div>
