
.app-content {
    position: absolute;
    left: 70px;
    top: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    width: calc(100% - 80px);
    display: block;
    overflow: scroll;
    white-space: nowrap;
    padding-bottom: 7px;
}
