<div class="sidebar">
    <div class="logo" (click)="showMultiFilters()" title="You can filter all content by Bridgechain">
        <img width="35" src="https://ark.io/images/ark-logo.svg">
    </div>

    <div class="sidebar-inner">
        <nav class="column-nav-list">
            <ul class="column-list">
                <li class="js-column-nav-menu-item column-nav-item js-filter" data-bridgechain="Ark" id="1564897151465">
                    <i class="icon fa fa-medium"></i>
                </li>
                <li class="js-column-nav-menu-item column-nav-item js-filter" data-bridgechain="Ark" id="15648971514658">
                    <i class="icon fa fa-reddit"></i>
                </li>
                <li class="js-column-nav-menu-item column-nav-item js-filter" data-bridgechain="Ark" id="15648971514651">
                    <i class="icon fa fa-steemit"></i>
                </li>
                <li class="js-column-nav-menu-item column-nav-item js-filter" data-bridgechain="Ark" id="1564897151489">
                    <i class="icon fa fa-microphone"></i>
                </li>
                <li class="js-column-nav-menu-item column-nav-item js-filter" data-bridgechain="nOS" id="15648971514652">
                    <i class="icon fa fa-medium"></i>
                </li>
                <li class="js-column-nav-menu-item column-nav-item last-nav-item" (click)="showCopyright()">
                    <i class="icon fa fa-heart"></i>
                </li>
                <!--<li class="js-column-nav-menu-item column-nav-item">
                    <i class="icon fa fa-twitter"></i>
                </li>-->
            </ul>
        </nav>
    </div>
</div>
