<section class="column {{bridgechain}} js-filter" [attr.data-bridgechain]="bridgechain" [id]="'column-' + reference">
    <header class="column-header">
        <span class=""><i class="fa {{headerIcon}}"></i></span>
        <span class="column-heading">
            <a [href]="headerLink" target="_blank">
                {{headerTitle}} <span class="column-username">{{headerUsername}}</span>
            </a>
        </span>

        <div class="column-header-links">
            <a href="https://ark.io" target="_blank" class="bridgechain-header-links" *ngIf="bridgechain === 'Ark'">
                <img src="./assets/img/ark/icon256x256.png" width="25" class="bridgechain-logo">
            </a>
            <a [href]="bridgechainUrl" target="_blank" class="bridgechain-header-links" *ngIf="bridgechain !== 'Ark'">
                <img [src]="bridgechainLogo" width="25" class="bridgechain-logo">
            </a>
        </div>
    </header>
    <div class="column-content">
        <!-- Chenged here -->
        <!--<a class="twitter-timeline" data-theme="light" href="https://twitter.com/ArkEcosystem?ref_src=twsrc%5Etfw">Tweets by ArkEcosystem</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a href="https://twitter.com/intent/tweet?button_hashtag=ArkEcosystem&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #ArkEcosystem</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->

        <article class="stream-item" *ngFor="let stream of streams | async">
            <header class="stream-header" (click)="redirect(stream.link)">
                <h2 class="stream-name">
                    <span class="name">
                        <ng-container *ngIf="isSteemit">
                            @{{stream.author}}
                        </ng-container>
                        <ng-container *ngIf="isMedium">
                            <ng-container *ngIf="bridgechain !== 'Ark'">
                                nOS Platform
                            </ng-container>
                            <ng-container *ngIf="bridgechain === 'Ark'">
                                    ARK.io
                            </ng-container>


                        </ng-container>
                        <ng-container *ngIf="!isMedium && !isSteemit">
                            {{stream.author}}
                        </ng-container>
                    </span>
                    <time class="date">
                        <span>{{stream.pubDate}}</span>
                    </time>
                </h2>
                <h3 class="stream-title">
                    {{stream.title}}
                </h3>

                <img [src]="stream.logo" class="stream-logo">
            </header>
            <div class="stream-item-content">
                <div class="description" (click)="redirect(stream.link)" [innerHTML]="stream.description | safeHtml">
                </div>

                <div class="audio-player">
                    <mat-basic-audio-player *ngIf="streamName == 'thearkcryptopodcast'" [audioUrl]="stream.enclosure.link"
    [displayTitle]="false" [displayVolumeControls]="false" ></mat-basic-audio-player>
                </div>

                <img [src]="stream.thumbnail" width="100%" alt="" (click)="redirect(stream.link)" *ngIf="stream.thumbnail">
            </div>
            <footer class="stream-footer" (click)="redirect(stream.link)">

            </footer>
        </article>
    </div>
    <footer>

    </footer>
</section>
